* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins, sans-serif";
  line-height: 1.6;
  background-color: #ffdab9;
  color: #000000;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
